.container-ajuda {
    margin-top: 3rem;
    width: 700px  ;
    align-self: center;
}

.botao-ajuda, .botao-salvar, .botao-adicionar {
    margin-top: 1.2rem;
}

.form-textarea {
    resize: vertical;
    
    max-height: 200px;
}