.container-principal {
    display: flex;
    
}

.logo {
    width: 60px;
    
}
body::-webkit-scrollbar {
    width: 16px; /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: gray; /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--cor-background-navbar); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid gray; /* creates padding around scroll thumb */
  }
.botao-base:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
} 

.form-control:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-color: #ced4da;
}

input::placeholder {
    color: black !important
}

textarea::placeholder {
    color: black !important
}

.tabela-linha:hover {
    background-color: var(--cor-background-navbar);
    color: white !important;
}

.botao-base {
    color: white;
    background-color: var(--cor-background-navbar);
    border-color: var(--cor-background-navbar);
}
.botao-base:hover {
    color: white;
    background-color: var(--cor-background-navbar);
    border-color: var(--cor-background-navbar);
}