.container-dashboard {
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 300px
   
}
.dashboard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    
    
    
}

.dashboard-titulo {
    font-family: var(--font-container-titulo);
    font-size: 2rem;
    
}

.container-ajuda {
    margin-top: 3rem;
    width: 700px  ;
    align-self: center;
}

.botao-ajuda {
    margin-top: 1.2rem;
}

.botao-categoria {
    width: 100px;
}