.cabecalho-escuro{
    background-color: var(--cor-cabecalho-escuro);
    animation: background-color 2s ease-in;
}

.container-escuro {
    background-color: var(--cor-fundo-escuro);
}

.texto-escuro {
    color: var(--cor-texto-escuro);
}

.texto-claro {
    color: black;
}