.container-dashboard {
    height: 100vh;
    width: 90%;
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
   
}
.dashboard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-color: var(--cor-principal);
    
}

.dashboard-titulo {
    font-family: var(--font-container-titulo);
    font-size: 2rem;
}

.container-ajuda {
    margin-top: 3rem;
    width: 700px  ;
    align-self: center;
}

.botao-ajuda {
    margin-top: 1.2rem;
}