.formulario-grupo{
    width: 65rem;
    align-self: center;
    
}
.formulario-select {
    border-color: #ced4da !important;
}

.formulario-select:focus {
    border-color: #ced4da !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}