.dashboard-tabela {
    font-family: var(--font-container-tabela);;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.tabela {
    margin-top: 3rem;
    width: 65rem;

}
.tabela-item {
    border: var(--border-tabela);
    
}

.tabela-linha {
    border: var(--border-tabela);
}

    
.edita, .exclui, .salvar {
    cursor: pointer;
}

.adc {
    margin-top: 80px;
    
}

.botao-adicionar{
    height: 50px;
    width: 150px;
    
} 

.gg {
    display: flex;
    width: 100%;
    justify-content: center;
}
.botao-selecionado {
    color: white;
    background-color: #198754;
}