.dashboard-tabela {
    font-family: var(--font-container-tabela);;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.tabela {
    margin-top: 3rem;
    width: 65rem;
   
}
.tabela-item {
    border: var(--border-tabela);
    
}

.tabela-linha {
    border: var(--border-tabela);
}

    
.edita, .exclui, .salvar {
    cursor: pointer;
}

.adc {
    margin-top: 80px;
    
}

.botao-adicionar{
    height: 50px;
    width: 150px;
    background-color: var(--cor-background-navbar);
    border-color: var(--cor-background-navbar);
} 
.botao-adicionar:hover {
    background-color: var(--cor-background-navbar);
    border-color: var(--cor-background-navbar);
}

.botao-categoria:hover {
    background-color: var(--cor-background-navbar) !important;
    border-color: var(--cor-background-navbar) !important;
}

.gg {
    display: flex;
    width: 100%;
    justify-content: center;
}
.botao-selecionado {
    color: white !important;
    background-color: var(--cor-background-navbar);
    border-color: var(--cor-background-navbar);
}

.botao-selecionado:hover {
    background-color: var(--cor-background-navbar);
    border-color: var(--cor-background-navbar);
}

.input-cat {
    align-self: flex-start;
    height: 50px;
    width: 150px;
    margin-top: 1.2rem ;
}

